{{ define "main" }}
{{ if .Date }}
<time>{{ .Date.Format "January 2, 2006" }}</time>
{{ end }}
<h1 class="post-title">{{ .Title }}</h1>
<div class="post">
  <p>{{ .Content }}</p>
</div>
<div class="post-navigation">
  <div class="next-post">
    {{ if .NextPage }}
    <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 15 "..." }}</a>
    {{ end }}
  </div>
  
  <div class="previous-post">
    {{ if .PrevPage }}
    <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 15 "..."}} »</a>
    {{ end }}
  </div>
</div>

{{ template "_internal/disqus.html" . }} {{ if .Site.Params.enableKofi }}

<script
  type="text/javascript"
  src="https://ko-fi.com/widgets/widget_2.js"
></script>
<script type="text/javascript">
  const kofiId = "{{ .Site.Params.Kofi }}";
  kofiwidget2.init("Support Me on Ko-fi", "#29abe0", kofiId);
  kofiwidget2.draw();
</script>

{{ end }}

<div class="page-footer">
  {{if .Params.tags}}
  <hr class="footer-divider" />
  {{ range .Params.tags }}
  <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
  {{ end }} {{ end }}
</div>

{{end}}
