$twitter-link: rgb(26, 138, 212);

img.about-me {
    float: right;
    width: 5em;
    // border-radius: 50%;
    margin: 2px 1px 2px 5px;
    border: 4px solid rgb(100, 100, 100);
}

.post {
    font-size: 19.9px;
}

.post a {
    color: $twitter-link;
}

#main-content {
    display: flex;
    justify-content: center;
}

.content-container {
    width: 1000px;
}