{{- $title := .Title -}}
{{- if .IsHome }}{{ $title = .Site.Params.homeTitle | default .Site.Title }}{{ else }}{{ $title = printf "%s | %s" .Title .Site.Title }}{{ end -}}
{{- $description := .Description | default "" | plainify | strings.TrimSpace -}}
{{- if not $description -}}
  {{- if .IsPage -}}
    {{- $description = .Summary | plainify | strings.TrimSpace | truncate 160 -}}
  {{- else if eq .Kind "term" -}}
    {{- $description = printf "Writing by %s tagged %s." .Site.Title .Title -}}
  {{- else if eq .Kind "taxonomy" -}}
    {{- $description = printf "Browse %s across the writing by %s." .Title .Site.Title -}}
  {{- else -}}
    {{- $description = .Site.Params.description -}}
  {{- end -}}
{{- end -}}
{{- if not $description }}{{ $description = .Site.Params.description }}{{ end -}}
{{- $canonical := .Permalink -}}
{{- if and (eq .Kind "section") (or (eq .Section "posts") (eq .Section "social")) -}}
  {{- $pages := where site.RegularPages "Type" .Section -}}
  {{- $paginator := .Paginate $pages -}}
  {{- $canonical = $paginator.URL | absURL -}}
{{- end -}}
{{- $image := .Site.Params.socialImage | absURL -}}
{{- with .Params.images -}}
  {{- with index . 0 }}{{ $image = . | absURL }}{{ end -}}
{{- else -}}
  {{- with .Params.image -}}
    {{- $path := strings.TrimPrefix "/" . -}}
    {{- if or (hasPrefix . "https://") (hasPrefix . "http://") (fileExists (printf "static/%s" $path)) (fileExists (printf "content/%s" $path)) (fileExists (printf "themes/noteworthy/static/%s" $path)) -}}
      {{- $image = . | absURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if and .IsPage (eq $image (.Site.Params.socialImage | absURL)) -}}
  {{- with .Resources.ByType "image" -}}
    {{- $image = (index . 0).Permalink -}}
  {{- end -}}
{{- end -}}
{{- $imageAlt := .Params.imageAlt | default .Title -}}
{{- if eq $image (.Site.Params.socialImage | absURL) }}{{ $imageAlt = printf "Portrait of %s" .Site.Title }}{{ end -}}
{{- $isArticle := and .IsPage (or (eq .Section "posts") (eq .Section "social")) -}}
<title>{{ $title }}</title>
<meta name="author" content="{{ .Site.Title }}" />
<meta name="description" content="{{ $description }}" />
{{ if eq .Kind "404" }}<meta name="robots" content="noindex, follow" />{{ end }}
<link rel="canonical" href="{{ $canonical }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="{{ if $isArticle }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ $canonical }}" />
<meta property="og:image" content="{{ $image }}" />
<meta property="og:image:alt" content="{{ $imageAlt }}" />
{{ if $isArticle }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}" />{{ end }}
{{ end }}
<meta name="twitter:card" content="{{ if eq $image (.Site.Params.socialImage | absURL) }}summary{{ else }}summary_large_image{{ end }}" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
<meta name="twitter:image:alt" content="{{ $imageAlt }}" />
{{ with .Site.Params.twitter }}<meta name="twitter:creator" content="@{{ replaceRE `^https?://(www\.)?(twitter|x)\.com/([^/]+)/?.*$` "$3" . }}" />{{ end }}
{{- $schema := dict "@context" "https://schema.org" "@type" "WebPage" "name" $title "description" $description "url" $canonical -}}
{{- if .IsHome -}}
  {{- $schema = dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "description" $description "url" $canonical -}}
{{- else if $isArticle -}}
  {{- $schema = dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "description" $description "url" $canonical "image" $image "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "author" (dict "@type" "Person" "name" .Site.Title "url" (.Site.Home.Permalink)) -}}
{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
